body {
    padding-left: 0em;
    padding-right: 0em;
}

.main, .footer {
    padding: 0 5% 0 5%;
}


.titre1em {
    font-size: 1.5em;
}

/*mise en page #entete du header en responsive*/
.header {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#suite_header {
    padding: 0 5% 0 5%;
}

#entete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    padding-right: 0;
    height: 7em;
    width: 100%;
}

#entete div {
    padding-left: 1.5em;
    
}

#logo_reservia_svg {
    object-fit: contain;
    padding-left: 1.5em;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

#navigation ul {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    margin: 0;
    height: 100%;
    font-size: 1em;
    padding-right: 0;
}

#navigation li {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    height: 100%;
}



#navigation a {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: normal;
    border-bottom: 2px #f2f2f2 solid;
}

#navigation a:hover {
    border-bottom: 2px #0065FC solid;
    border-top: none;
    color: #0065FC;
    font-weight: bold;
}

#navigation .inscription {
    border-bottom: none;
    padding-right: 0;
}

/*#navigation li:nth-child(3) {
    padding-right: 0;
    align-self: flex-end;
}*/

/*mise en page de #suite_header du header en responsive*/
#suite_header .titre1em {
    font-size: 1.45em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#suite_header .paragraphe {
    font-size: 1.03em;
    margin-top: 0;
}

.recherche {
    margin-top: 2.2em;
    margin-right: 0;
    height: 3.2em;
    width: 100%;
}

.recherche label {
    width: 3.5em;
    position: absolute;
    left: 0;
    z-index:2;
    height: 100%;
}

.recherche i{
    height: 100%;
    margin-bottom: 0;
    width: 100%;
}

#lieu {
    border-right: none;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5%;
    position: absolute;
    right:0;
    left: 2.9em;
    height: 100%;
    padding-right: 2em;
}

.bouton_rechercher {
    display: none;
}

.recherche {
    position: relative;
}

.loupe {
    display: block;
    width: 4.2em;
    height: 3.8em;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.loupe i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    margin-right: 0;
    background: none;
    border-radius: 0;
}

.filtres {
    /*width: 25%;*/
    flex-wrap: wrap;
}

.filtres p {
    font-size: 1.2em;
}

.bouton_filtres {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    height: auto;
    padding-left: 0;
    margin-top: 0;
}

.bouton_filtres li{
    height: 3.2em;
    padding-right: 0.5em;
    margin-right: 0;
    margin-top: 0.5em;
}

.bouton_filtres i {
    margin-right: 0.5em;
}

/*Mise en page du main*/
.main {
    display: flex;
    flex-direction: column;
}

#entete {
    margin-top: 0;
}

#logo_reservia_svg {
    padding: 0;
}

#div_accomodations {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 480px;
    height: 100%;
}

#hebergement_article {
    width: 100%;
    min-width: 100%;
    max-width: 480px;
}

#hebergement_aside {
    width: 100%;
    min-width: 100%;
    max-width: 480px;
}

[id^=vignette] {
    width: 100%;
    height: 10rem;
    padding: 0.2em;
    border-radius: 15px;
}

#resultat_hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#resultat_hebergements a {
    width: 100%;   
}

/*Mise en page du FOOTER*/
#contenu_footer {
    display: flex;
    flex-direction: column;
    padding: 0;
}


