body {
    display: flex;
}

.header,
.footer,
.main {
    padding: 0 1rem 0 1rem;
}

/*Mise en page responsive tablette du header*/
.list_filters {
    display: flex;
    flex-wrap: wrap;
}

.btn_filter {
    margin: 0.5em 2rem 0.5em 0;
}

/*Mise en page responsive tablette main*/
main {
    margin-right: 0.5rem;
}

#result_no_accomodation {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
}


#resultat_hebergements {
    height: auto;
}

[id^=hebergement] {
    margin-top: 1rem;
}

[id^=vignette] {
    width: auto;
    height: 10rem;
    margin-bottom: 2rem;
}

#hebergement_article .greystar {
    color: white;
}

#hebergement_article {
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    padding-right: 0;
    padding-left: 0;
    background-color: white;
}

#hebergement_article [id^=vignette] {
    background-color: #F2F2F2;
    height: 16rem;
    min-width: 45%;
    margin-right: 0.5rem;
}

#hebergement_article .titre08em {
    margin-left: 1rem;
}

#hebergement_aside {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 34vw;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#resultat_populaires {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

#resultat_populaires a {
    flex-direction: column;
    width: 100%;
    height: 16rem;
}

#resultat_populaires img {
    width: auto;
    border-radius: 15px 15px 0 0;
}

.photos_populaires {
    max-width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.comment_vignette_populaires {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
    padding-left: 0.7em;

}

.texte_vignette_populaires {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.footer {
    flex-wrap: wrap;
    width: 100%;
}

.footer div {
    min-width: 240px;
}

.footer ul {
    padding-right: 2rem;
}

.footer a {
    margin-bottom: 0;
}