

/*Header layout less270px*/
.titre08em {
    justify-content: flex-start;
}

#entete {
    justify-content: flex-start;
}

#navigation {
    height: 25%;
    align-items: flex-start;
}

#navigation ul {
    flex-wrap: wrap;
    padding-top: 1rem;
}

#navigation li {
    width: 100%;
}

.list_filters li {
    white-space: normal;
    overflow: auto;
}

#navigation a {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.inscription #div_inscription {
    justify-content: center;
    padding-bottom: 0.3em;
    border-bottom: 2px #F2F2F2 solid;
}

#suite_header .titre1em,
[id^=hebergement] h2,
#activite_article h2 {
    font-size: 1em;
}

#suite_header .paragraphe,
#hebergement_article .titre08em {
    font-size: 0.8em;
}

#lieu {
    font-size: 1em;
}

.filtres p {
    font-size: 0.8em;
}

.list_filters {
    font-size: 0.8em;
}

/*main layout less270px*/
#result_no_accomodation p {
    font-size: 0.8em;
}

.photos_hebergements {
    width: 100%;
}

#hebergement_article [id^=vignette] {
    height: 20vh;
}

.texte_vignette_populaires {
    padding-top: 0;
}

[id^=vignette] h3 {
    font-size: 0.8em;
}

[id^=vignette] p {
    font-size: 0.6em;
}


#thumbnail_vieux_port,
#thumbnail_parc_calanques,
#thumbnail_fort_pomegues,
#thumbnail_iles_frioul,
#thumbnail_notre_dame_garde,
#thumbnail_parc_longchamp {
    height: 15vh;
}

#thumbnail_fort_pomegues .small {
    height: 15vh;
}

#img_iles_frioul img {
    height: 45%;
}

#img_notre_dame img {
    height: 25vh;
}

#results_activities figcaption {
    font-size: 0.8em;
}