@font-face {
    font-family: 'ralewayregular';
    src: url('Fonts/ralewayregularwebfont.eot');
    src: url('Fonts/ralewayregularwebfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ralewayregularwebfont.woff2') format('woff2'),
         url('Fonts/ralewayregularwebfont.woff') format('woff'),
         url('Fonts/ralewayregularwebfont.ttf') format('truetype'),
         url('Fonts/ralewayregularwebfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: "ralewayregular";
}

h1
{
    font-size: 1em;
    font-weight: bold;
}

h2
{
    font-size: 0.8em;
    font-weight: bold;
}

p
{
    font-size: 0.7em;
}

ul{
    list-style-type: none;
}

header
{
    display: flex;
    flex-direction: row;
    height: 300%;
    margin-right: 0px;
    padding-top: 5%;
}

#navigation
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 20%;
}

#navigation ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    padding-left: 0px;
    width: 100%;
}

#navigation li
{
    font-size: 0.8em;
    padding-top: 10%;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

#navigation a
{
    color: black;
    text-decoration: none;
}

#navigation li:nth-child(1)
{
    border-top: 1px solid;
    color: #0065FC;
}

#navigation a:visited
{
    color: #0065FC;
}

#logo_reservia
{
    width: 5%;
}

#entete
{
    align-self: flex-end;
    width: 200%;
}

.recherche
{
    display: flex;
    justify-content: flex-start;
    margin-right: 68%;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
}

.bouton_rechercher
{
    width: 100px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
    color: white;

}

input[type="submit"]
{
    cursor: pointer;
}

.recherche i
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: #ebebeb;
    border-radius: 10px 0px 0px 10px;
}

.filtres
{
    display: flex;
    align-items: center;
}

.filtres p
{
    font-weight: bold;
    font-size: 0.8em;
}

.bouton_filtres
{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    font-weight: bold;
    width: 65%;
}

.bouton_filtres i
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0065FC;
    margin-right: 20px;
    background-color:#DEEBFF ;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.bouton_filtres li
{
    display: flex;
    align-items: center;
    border: 2px #ebebeb solid;
    border-left: none;
    margin-right: 2%;
    padding-right: 2%;
    border-radius: 20px;
    cursor: pointer;    
}

.bouton_filtres li:hover
{
    background: #0065FC;
    color: white;
    font-weight: bold;
}
